<!DOCTYPE html>
<html>
<%- include('head') %>
  <body>
    <div class='container'>
      <div class='row'>
        <h1 class='text-center'>Injection records of <strong><%- name %></strong></h1>
<% data.forEach((entry)=> { -%>
        <div class='col-12 card border my-3 py-2'>
          <div class='form-outline'>
            <label class='form-label'>Type of Vaccine</label>
            <input type='text' class='form-control' readonly value='<%= entry.vaccineName %>'>
          </div>
          <div class='form-outline'>
            <label class='form-label'>Date of Injection</label>
            <input type='text' class='form-control' readonly value='<%= new Date(entry.date).toLocaleString() %>'>
          </div>
          <div class='form-outline'>
            <label class='form-label'>Duration</label>
            <input type='number' class='form-control' readonly value='<%= entry.duration %>'>
          </div>
          <div class='form-outline'>
            <label class='form-label'>Count</label>
            <input type='number' class='form-control' readonly value='<%= entry.count %>'>
          </div>
          <div class='form-outline'>
            <label class='form-label'>Name of Medical Personnel</label>
            <input type='text' class='form-control' readonly value='<%= entry.doctorName %>'>
          </div>
          <div class='form-outline'>
            <label class='form-label'>Name of Medical Facility</label>
            <input type='text' class='form-control' readonly value='<%= entry.hospitalName %>'>
          </div>
        </div>
<% }); -%>
        <div class='col-12'>
          <a href='<%- (locals.individual ? '/idv' : '/') %>'><button class='btn btn-dark w-100'>Go Back</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
